.n-wrapper {
  height: 110px;
  display: flex;
  justify-content: space-between;
}
.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
}
.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin: 4rem;
}
.n-list > ul > a:hover {
  cursor: pointer;
  color: var(--orange);
}
.n-list > ul > a {
  text-decoration: none;
  color: #242d49;
}

.active {
  color: blue;
}
.navLink{
  width: 128px;
}
